.relations {
    display: flex;
    max-width: 70%;
    align-items: baseline;
    margin-top: 50px;
    width: 100%;
    gap: 100px;
}

@media screen and (max-width: 1235px) {
    .relations {
        max-width: 80%;
        margin-top: 0;
    }
}

@media screen and (max-width: 1000px) {
    .relations {
        max-width: 90%;
        flex-direction: column;
        gap: 60px;
    }
}

.relations__contacts {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contacts__title {
    font-size: 35px;
    font-weight: 400;
    margin: 0 0 15px;
}

@media screen and (max-width: 1080px) {
    .contacts__title {
       font-size: 30px;
    }
}

.contacts__item {
    margin: 0;
    font-size: 22px;
}

@media screen and (max-width: 1080px) {
    .contacts__item {
        font-size: 20px;
    }
}
