.header {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-between;
    max-height: 70px;
}

@media screen and (max-width: 1000px) {
    .header {
        width: 90%;
    }
}

@media screen and (max-width: 770px) {
    .header {
        width: 100%;
        padding-left: 40px;
        box-sizing: border-box;
    }
}

.header__logo-info {
    display: flex;
    gap: 23px;
    align-items: center;
}

.logo-link {
    cursor: pointer;
    max-height: 36px;
}

.logo {
    max-width: 85px;
    max-height: 36px;
}

.logo-text {
    max-width: 193px;
    color: white;
    margin: 0;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.4;
}

@media screen and (max-width: 580px) {
    .logo-text {
        max-width: 163px;
        font-size: 12px;
    }
}

@media screen and (max-width: 360px) {
    .logo-text {
        max-width: 107px;
    }
}

.header__number {
    color: white;
    font-size: 16px;
    padding: 6px 30px;
    margin: 0;
    border: 1px solid white;
    border-radius: 15px;
}

@media screen and (max-width: 770px) {
    .header__number {
       display: none;
    }
}
