.points-block {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 1200px) {
    .points-block {
        margin-top: 110px;
    }
}

.points-block_guaranty {
    width: 100%;
    background-image: url("./../../../public/garanty-background-usual.png");
    padding-top: 285px;
    padding-bottom: 80px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    margin-top: 130px;
}

@media screen and (max-width: 1200px) {
    .points-block_guaranty {
        margin-top: 100px;
        padding-top: 100px;
    }
}

@media screen and (max-width: 570px) {
    .points-block_guaranty {
       display: none;
    }
}

.points-block__container {
    max-width: 70%;
    display: flex;
    flex-direction: column;
    gap: 80px;
    align-items: center;
}

@media screen and (max-width: 1200px) {
    .points-block__container {
       max-width: 90%;
    }
}

.points-block__container_guaranty {
    max-width: 78%;
}

@media screen and (max-width: 1200px) {
    .points-block__container_guaranty {
        max-width: 90%;
    }
}

.points-block__title {
    font-size: 43px;
    font-weight: lighter;
    margin: 0;
    align-self: flex-start;
}

@media screen and (max-width: 1020px) {
    .points-block__title {
        font-size: 38px;
    }
}

@media screen and (max-width: 650px) {
    .points-block__title {
        font-size: 33px;
    }
}
